@import url('https://fonts.googleapis.com/css2?family=Nunito:wght@400;700&display=swap');
*{
  background-color: black;
  margin: 0;
  padding: 0;
}
.App {
  text-align: center;
  max-width: 600px;
  margin: auto;
  padding: 2rem;
  font-family: "Nunito", "sans-serif";
  align-items: center;
  /* background-color: black; */
  color: white;
}
.App h1{
  font-size: 3rem;
}
.App p{
  font-size: smaller;
  margin-top: 1rem;
}

.btn-category{
  cursor: pointer;
  background-color: #ffffff;
  border-Radius: 0.5rem;
  padding: 0.5rem  1rem;
  border: 1px solid black;
  margin: 1rem 0.3rem;
}

.movieItem{
  text-align: left;
  list-style: none;
  padding: 1rem;
  border: 1px solid #D1D5DB;
  width: 70%;
  margin:1rem auto;
  border-radius: 0.8rem;
  -webkit-border-radius: 0.8rem;
  -moz-border-radius: 0.8rem;
  -ms-border-radius: 0.8rem;
  -o-border-radius: 0.8rem;
}

.movieItem .name{
  font-size: 1.4rem;
}
.movieItem .rating{
  font-size: 1rem;
  margin-top: 0.3rem;
}
.movieItem .description{
  font-size: 0.8rem;
}
